/*Style for Profile page*/
.profile__container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.profile__content{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
.profile__theme{
    height: 307px;
    width: 100%;
    background: blue;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.profile__user{
    display: flex;
    background: #FFFFFF;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 394px;
    position: relative;
    padding-bottom: 36px;
    margin-bottom: 30px;
}
.profile__user_img{
    position: absolute;
    left: 62px;
    bottom: 53px;
}
.profile__user_avatar{
    width: 223px;
    height: 210px;
}
.profile__user_info{
    display: flex;
    flex-direction: column;
}
.profile__user_name{
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
}
.profile__user_friends{
    display: flex;
    column-gap: 67px;
}
.profile__user_follow, .profile__user_followers{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.profile__follow_title, .profile__followers_title{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}
.profile__follow_count, .profile__followers_count{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #A69A9A;
}
.profile__nav{
    display: flex;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}
.profile__nav_item{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}
.profile__post_container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
/*Styles for btn profile*/
.add__btn, .edit__btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}
.btn__to_add, .btn__to_edit{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
}