.local__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: #000000;
    border-radius: 20px;
}
.local__nav_btn{
    width: 120px;
    height: 34px;
    background: black;
    border-radius: 10px;
    border: 0px solid;
    text-align: center;
    color: white;
}
.local__nav_btn:hover{
    color: black;
    background-color: white;
}