/*Styles for News page*/
.news__wrapper{

}
.news__content{
    display: grid;
    grid-template: 1fr / 20% 80%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.news__posts{
    height: 100%;
    width: 100%;
    padding-top: 47px;
    padding-left: 147px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}