/*Styles for MyButton*/
.mybutton{
    width: 191px;
    height: 77px;
    background: linear-gradient(180deg, #D556FB 3.44%, rgba(5, 0, 255, 0.86755) 98.22%, #325CDE 98.23%);
    background-blend-mode: darken;
    opacity: 0.7;
    border: 2px solid #B3B3B3;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}