.local__them{
    width: 100%;
    height: 307px;
    margin: 0 auto;
    background: linear-gradient(23.14deg, rgba(232, 0, 252, 0.64) 15.29%, rgba(190, 1, 255, 0.56) 35.82%, rgba(50, 47, 234, 0.86755) 91.08%, rgba(45, 42, 188, 0.86755) 107.49%), rgba(74, 152, 247, 0.95);
}