.title {
    align-self: flex-start;
}

.reg__container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
    min-height: 100vh;
}

.reg__form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg__form_container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66.2%;
    margin-bottom: 150px;

}

.reg__logo {
    align-self: flex-start;
    margin-bottom: 16px;
}

.reg__text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 24px;
    margin-bottom: 48px;
}

.reg__title {
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    color: #333333;
}

.reg__title_text {
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #333333;
}

.reg__form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-self: flex-start;
}

.reg__form_item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 4px;
}

.reg__item_title {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.reg__item_input {
    width: 354px;
    height: 56px;
    border: 1px solid #B3CDF8;
    border-radius: 8px;
    padding-left: 16px;
}

.form__btns {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 48px;
    column-gap: 12px;
}

.logIn__btn {
    width: 171px;
    height: 56px;
    background: #5C98F1;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.reg__btn {
    width: 171px;
    height: 56px;
    border: 1px solid #5C98F1;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #5C98F1;
    background-color: inherit;
    cursor: pointer;
}

.reg__btn:hover {
    background-color: #B3CDF8;
}

.logIn__btn:hover {
    border: 3px solid white;
}

.reg__radio{
    display: flex;
    column-gap: 20px;
    width: 100%;
}
.gender__select {
    width: 171px;
    height: 56px;
    border: 1px solid #B3CDF8;
    border-radius: 8px;
    text-align: center;
    
}


.reg__background {
    width: 50%;
    background-image: url("../image/LogIn__bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}