.local__create{
    height: 60px;
    background: #000000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
}
.local__create_btn{
    width: 122px;
    height: 35px;
    background: white;
    border-radius: 10px;
}

.local__create_search{
    display: flex;
    align-items: center;
}
.local__search_icon{
    height: 28px;
    width: 28px;
}
.local__search_input{
    width: 779px;
    height: 28px;
    background: white;
    border-radius: 10px;
}