.local__post_form{
    width: 100%;
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.local__post_text{
    width: 90%;
    height: 30px;
    background-color: inherit;
    border: 0px;
    padding-left: 10px;
    resize: none;

}
.local__post_btn{
    width: 12%;
    height: 35px;
    border-radius: 8px;
}