
.logIn__container{
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
}
.logIn__form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logIn__form_container{
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66.2%;
    margin-bottom: 230px;
}
.logIn__logo{
    align-self: flex-start;
    margin-bottom: 16px;
}
.logIn__text{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 24px;
    margin-bottom: 48px;
}
.logIn__title{
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    color: #333333;
}
.logIn__title_text{
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #333333;
}
.logIn__form{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-self: flex-start;
}
.logIn__form_item{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 4px;
}
.logIn__item_title{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}
.logIn__item_input{
    width: 354px;
    height: 56px;
    border: 1px solid #B3CDF8;
    border-radius: 8px;
    padding-left: 16px;
}
.form__btns{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 48px;
    column-gap: 12px;
}
.logIn__btn{
    width: 171px;
    height: 56px;
    background: #5C98F1;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.reg__btn{
    width: 171px;
    height: 56px;
    border: 1px solid #5C98F1;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #5C98F1;
    background-color: inherit;
}


.logIn__background{
    width: 50%;
    background-image: url("../image/LogIn__bg.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}