/* Styles for PostForm */
.local__post_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 477px;
    border: 1px solid black;
    position: relative;
    bottom: 90px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 7px;
    padding: 23px 75px 7px 75px;
    row-gap: 10px;
}
.post__form_title{
    background: #D9D9D9;
    border-radius: 10px;
    height: 50px;
    border: 0px;
    text-align: left;
    padding-left: 20px;
}
.post__form_text{
    background: #D9D9D9;
    border-radius: 10px;
    padding-left: 20px;
    text-align: left;
    border: 0px;
    resize: none;
    overflow: hidden;
}
.post__form_btns{
    align-self: center;
    display: flex;
    background: #D9D9D9;
    border-radius: 10px;
    padding: 8px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.post__form_create{
    width: 123px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: 0px;
}

/* Styles for PostList */
.post__list{
    width: 100%;
    height: 100%;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;
}

/* Styles for PostItem */
.post__item{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.post__item_title{
    width: 100%;
    padding-left: 12px;
    display: flex;
    align-items: center;
    height: 45px;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;    
}
.post__item_text{
    width: 100%;
    word-break: break-all;

    padding-left: 12px;
}
.post__item_btns{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
}
.post__item_likes{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.post__likes_img{
    width: 25px;
    height: 25px;
    color: red;
}
.post__likes_count{
    font-size: 20px;
    font-weight: 500;
}
.post__item_delete{
    width: 30px;
    height: 30px;
}